
.margin-bottom{
    margin-top: 6rem;
}
.panda-bg-info{
    background-color: #FEEAE9;
}
.panda-buy-now-btn{
    color: white;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    border-radius: 8px;
    padding: 7px 18px;
}
